/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

p {
  font-family: "IBM Plex Sans", sans-serif;
  color: black;
  line-height: 1.65;
  font-size: 1.025em;
  letter-spacing: 0.6px;
}

.category {
  font-family: "Fira Mono", monospace;
  color: black;
  line-height: 1.65;
  letter-spacing: 0.7px;
  font-size: 1.05em;
}

.navbar-title,
.nav-link,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Mono", monospace;
  color: black;
}

.navbar-title {
  font-weight: 450;
  letter-spacing: 1.2px;
  font-size: 1.25em;
}

.nav-link {
  font-weight: 300;
  letter-spacing: 0.9px;
  font-size: 1.05em;
}

.element.style {
  width: 10cm;
  height: 10cm;
}

$link-color: #7c0000;
$toc-font-size: 12px;
$font-size-root: 16px;
$input-border-radius: 20px;
// Default is 50 for navbar
$navbar-height: 40px;

$h1-font-family: "Fira Mono", cursive;
