/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts

@import url("https://fonts.googleapis.com/css2?family=Cardo");
@import url("https://fonts.googleapis.com/css2?family=Alata");

@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

.category,
p {
  font-family: "IBM Plex Sans", sans-serif;
  color: black;
}

.navbar-title,
.nav-link,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: "Expletus Sans", cursive;
  color: black;
}

.element.style {
  width: 10cm;
  height: 10cm;
}

$link-color: #9a1750;
$toc-font-size: 12px;
$font-size-root: 16px;
$input-border-radius: 20px;
// Default is 50 for navbar
$navbar-height: 40px;
